<!DOCTYPE html>
<html>
<%- include('head') %>
<body>
<div class="border-right mode-bar sidebar bg-light">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="nav-link" href="#"
               data-bind="css: { active: mode() == 'scenario'}, click: function() { mode('scenario')}">
                Scenarios</a>
        </li>
        <li class="list-inline-item" style="margin-left: -13px;">
            <a class="nav-link" href="#"
               data-bind="css: { active: mode() == 'country'}, click: function() { mode('country');
                $root.drawPie(); $root.drawLine();}">Countries</a>
        </li>
    </ul>
</div>
<div class="scenario-bar sidebar" data-bind="css: { in: mode() == 'scenario'}" id="scenario-bar">
    <div class="add-open border-bottom">
        <span data-bind="with: newScenario">
            <a href="#"
               class="d-inline"
               data-bind="click: clear"
               data-toggle="modal"
               data-target="#new-scenario">
                +
            </a>
        </span>
        <a href="#" class="d-inline">
            <%- include('open-icon') %>
        </a>
    </div>
    <ul class="nav flex-column" id="scenarios" data-bind="foreach: scenarios">
        <li class="nav-item">
            <a class="nav-link" href="#"
               data-bind="css: { active: $root.currentScenario() == $data },
               click: function() {
               $root.currentScenario($data);
               $root.selectedCountry($data.country);
               }">
                <div data-bind="text: name"></div>
                <small>
                   <span data-bind="with: country">
                        <span data-bind="text: name"></span>
                    </span>
                    <span data-bind="if: region"> – </span>
                    <span data-bind="text: region"></span>
                </small>
            </a>
        </li>
    </ul>
    <ul class="nav flex-column border-top">
        <li class="nav-item">
            <a class="nav-link" 
               href="#"
               data-bind="css: { active: $root.currentScenario() == 'results' },
                          click: showResults">
               Results
           </a>
        </li>
    </ul>
</div>
<div class="country-bar sidebar" data-bind="css: { in: mode() == 'country'}" id="country-bar">
    <ul class="nav flex-column" id="countries" data-bind="foreach: countries">
        <li class="nav-item"><a class="nav-link" href="#"
                                data-bind="css: { active: $root.currentCountry() == $data },
                                 text: name, click: function() {
                                 $parent.currentCountry($data);
                                 $parent.currentRegion($data.regions()[0])
                                 }"></a></li>
    </ul>
</div>
<div class="section-bar sidebar bg-light" data-bind="css: { in: showScenarioSection }"
     id="sections">
    <ul class="nav flex-column border-top">
        <li class="nav-item">
            <a id="interventions-tab" class="nav-link" href="#"
               data-bind="css: {active: scenarioMode() == 'intervention'},
               click: function() { scenarioMode('intervention')}">Interventions</a></li>
        <li class="nav-item">
            <a id="baseline-tab" class="nav-link" href="#"
               data-bind="css: {active: scenarioMode() == 'baseline'},
                click: function() { scenarioMode('baseline'); drawPie(); drawLine();}">Baseline</a></li>
    </ul>
</div>
<div class="region-bar sidebar bg-light" id="regions" data-bind="css: { in: mode() == 'country' && currentCountry()}">
    <div data-bind="with: currentCountry">
        <ul class="nav flex-column border-top" data-bind="foreach: regions">
            <li class="nav-item"><a class="nav-link"
                                    href="#"
                                    data-bind="text: $data,
                                     css: { active: $root.currentRegion() == $data },
                                     click: function () {$root.currentRegion($data);}"
                ></a></li>
        </ul>
    </div>
</div>

<div class="contents container-fluid">
    <div class="tab-content">
        <div class="tab-pane" id="no-scenario"
             data-bind="css: { active: showResultsSection }">
             <%- include('results') %>
        </div>
        <div class="tab-pane" id="interventions"
             data-bind="css: {active: scenarioMode() == 'intervention' && showScenarioSection() }">
            <%- include('edit-scenario') %>
        </div>
        <div class="tab-pane" id="scenario-baseline"
             data-bind="css: {active: scenarioMode() == 'baseline' && showScenarioSection() }">
            <%- include('baseline-scenario') %>
        </div>
        <div class="tab-pane" id="region-baseline"
             data-bind="css: {active: mode() == 'country' && currentRegion()}">
            <%- include('baseline-country') %>
        </div>
        <div class="tab-pane" id="edit-region">
            <%- include('edit-region') %>
        </div>
    </div>
</div>

<%- include('new-scenario') %>
<%- include('new-country') %>

<%- include('scripts') %>

</body>
</html>
